<!DOCTYPE html>
<head>
  <title>uwu</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Mobile First -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/favicon.png">
  <style>
    .rounded-box {
      border-radius: 24px;
      border: 1px solid #ced4da;
    }
    .no-border {
      border: none;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>uwu/{{ short_link }}</h1>
    <form action="/add/{{short_link}}" method="POST">
      <div class="form-group">
        <div class="rounded-box p-2">
          <input
            type="url"
            name="url"
            id="url"
            placeholder="https://example.com"
            size="30"
            class="form-control no-border "
            required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary my-1">Save</button>
    </form>
  </div>

</body>