<!DOCTYPE html>
<head>
  <title>uwu</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="icon" href="/static/favicon.png">
  <style>
  </style>
</head>
<body>
  <div class="container">
    <h1>uwu/{{ short_link }}</h1>
    <p>
      Now forwards to <a href="{{ url }}">{{ url }}</a>. 
    </p>
    <p>
      uwu-link: <a href="http://uwu.run/go/{{ short_link }}">
                  uwu.run/go/{{ short_link }}
                </a>
    </p>
    <p>
      Change the uwu-link at: <a href="http://uwu.run/add/{{ short_link }}">
                                uwu.run/add/{{ short_link }}
                              </a>
    </p>
  </div>

</body>