<!DOCTYPE html>
<head>
  <title>uwu</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Mobile First -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Project Stylesheet -->
  <link rel="stylesheet" href="/static/css/stylesheet.css">
  <link rel="icon" href="/static/favicon.png">
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="/static/favicon.png"/>
      <h1>uwu/links</h1>
    </div>
    <p>
      Add uwu links to your browser by following these
      <a href="https://github.com/simonfong6/uwu-links">instructions</a>.
    </p>
    <p>
      See the nitty gritty source code on
      <a href="https://github.com/simonfong6/uwu-links">github</a>.
    </p>
  </div>

</body>